/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --save-bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --text-color: rgba(53, 52, 48, 1);
  --color-dec: rgba(53, 52, 48, 1);
  --xl-head-color: rgba(255, 194, 230, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --sm-head-color: rgba(53, 52, 48, 1);
  --bg-color: rgba(255, 141, 203, 1);
  --bottom-link: rgba(50, 49, 45, 0.4);
}

.theme-light .decor-item {
  color: transparent;
}

.theme-light .decor-item::before {
  background-color: transparent;
  box-shadow: transparent 0 0 4px 3px;
}

@media (prefers-color-scheme: light) {
  :root {
  --save-bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --text-color: rgba(53, 52, 48, 1);
  --color-dec: rgba(53, 52, 48, 1);
  --xl-head-color: rgba(255, 194, 230, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --sm-head-color: rgba(53, 52, 48, 1);
  --bg-color: rgba(255, 141, 203, 1);
  --bottom-link: rgba(50, 49, 45, 0.4);
  }

  .theme-light .decor-item {
    color: transparent;
  }

  .theme-auto .decor-item {
    color: transparent;
  }

  .theme-auto .decor-item::before {
    background-color: transparent;
    box-shadow: transparent 0 0 4px 3px;
  }

  .theme-light .decor-item::before {
    background-color: transparent;
    box-shadow: transparent 0 0 4px 3px;
  }
}